html, body, #map-canvas { height: 100%; margin: 0; padding: 0; position: relative;}

#content { 
	display:none;
	position: absolute;
	top : 200px;
	left: 0px;
	background-color: rgba(255,255,255,0.9);
}

.top-bar{
	z-index:3;
}